body{
    background-color: #060F38;
}
h1{
    color: #060F38;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 900px;
}

#flag-outer{
    height: 1000px;
    width: 100%;
    overflow: hidden;
    background: url('../images/ChampionsBackground.png') no-repeat center center ;
   
}

.form-section {
    clear: left;
    background-size: cover;
    background-image: url(../images/ChampionsBackground.png);
    background-position: center;
    height: 950px;
}

.signup-form {
    left: 50%;
    transform: translate(-50%, 0);
    color: #fcfcfb;
    background-color: rgba(246, 241, 241, 0.8);
    max-width: 1000px;
    max-height: 1000px;
    position: absolute;
    text-align: center;
    padding: 20px;
}

.image-container {
    width: 200px;
    height: 200px;
    background-image: url('../images/logo.png') ;
    height: 19vh;
    margin: 0 auto;
  }


